form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem; 
    background-color: black;
    color: white;
}

button{
    color: black;
    background-color: yellow;
}